[Unit]
Description=BattleSnake bots
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/apps/battlesnakebots
Environment="PATH=/apps/battlesnakebots/.venv/bin"
ExecStart=/apps/battlesnakebots/.venv/bin/uvicorn main:app --host 127.0.0.1 --port 8000 --workers 2 --proxy-headers --forwarded-allow-ips="127.0.0.1"
Restart=always
RestartSec=3
StateDirectory=battlesnakebots
Environment="HOME=/var/lib/battlesnakebots"
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target